.chat-content {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    width: 70%;
}

.user-bubble, .bot-bubble {
    padding: 10px 20px;
    margin-bottom: 20px;

    max-width: 65%;

    font-size: medium;

    white-space: break-spaces;
}

.user-bubble {
    border-radius: 12px 12px 0px 12px;
    color: #e5e5e5;
    align-self: flex-end;
}

.bot-bubble {
    border-radius: 12px 12px 12px 0px;
    color: var(--text-primary);
    align-self: flex-start;
}