.outer-layout-container {
    display: flex;
    flex-direction: row;
    height: 100dvh;
}

.inner-layout-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100dvh;
}
  
@media (max-width: 520px) {
    .inner-layout-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 100dvh;
        padding-left: var(--drawer-width-closed);
        position: absolute;
    }
  }

.course.MuiListItemButton-root {
    width: 100%; 
    margin-left: 8px; 
    margin-right: 8px; 
    border-radius: 10px; 
    display: flexbox; 
    white-space: nowrap;
    border: 2px solid;
    border-color: var(--background-default);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--background-paper);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--background-default);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}