.outer-layout-container {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.inner-layout-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.course.MuiListItemButton-root {
    width: 100%; 
    margin-left: 8px; 
    margin-right: 8px; 
    border-radius: 10px; 
    display: flexbox; 
    white-space: nowrap;
}

.course-selected.MuiListItemButton-root {
    width: 100%; 
    margin-left: 8px; 
    margin-right: 8px; 
    border-radius: 10px; 
    display: flexbox; 
    white-space: nowrap;
    background-color: var(--background-default);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: var(--background-paper);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--background-default);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}