.navbar {
    background-color: var(--background-paper);
    border-bottom-style: solid;
    border-bottom-width: 0.8px;
    border-color: var(--background-default);
    height: var(--navbar-height);
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: x-large;
}

.navbar > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar > div:first-child {
    justify-content: start;
}

.navbar > div:last-child {
    justify-content: end;
}

.title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 48px;
    text-align: center;
    font-size: 24px;
}
