.profile {
    display: flex;
    cursor: pointer;
    width:var(--profile-width);
}

.avatar {
    padding: 4px;
    margin-right: 10px;
    font-size: 18px;
}

.menu-item {
    width:var(--profile-width);
}

.menu-text {
    padding-left: 10px;
}