html, body, #root, .drawer {
    height: 100dvh;
    min-height: 100vh;
    overflow: hidden;
}

.drawer {
    display: flex;
}

.drawer-open {
    width: var(--drawer-width-open);
    transition: width 0.4s ease;
}

.drawer-closed {
    width: var(--drawer-width-closed);
    transition: width 0.4s ease;
}

.tab {
    height: var(--tab-height);
    padding: 0px;
}

.tab.MuiListItem-root {
    padding: 0px;
}

.tab.MuiListItemButton-root {
    padding: 0px;
}

.tab.MuiIconButton-root {
    padding: 0px;
}

.tab-icon {
    padding: 18px;
}

.tab-content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--num-tabs) * var(--tab-height) - var(--divider-height));
    overflow-y: auto;
}
