.upload.MuiButtonBase-root {
    width: 100%;
}

.file-text.MuiButtonBase-root {
    width: 100%;
}

.file-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    text-decoration: underline;
    cursor: pointer;
    line-height: 2;
}