.upload-button.MuiButtonBase-root {
    width: 55%;
}

.file-button.MuiButtonBase-root {
    width: 45%;
}

.file-text {
    text-decoration: underline;
    cursor: pointer;
    line-height: 2;
    margin-left: 15px;
}