.login-page {
    display: flex;

    height: 100%;

    background: linear-gradient(to right, #870000, #190a05);
    color: #e5e5e5;
}

.login-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: 65%;
    height: 100%;
}

.logo {
    font-weight: bolder;
    font-size: 60px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: 35%;
    height: 100%;
    
    background-color: var(--background-paper);
    color: var(--text-primary);

    font-size: x-large;
}

.login-button-container {
    margin-top: 30px;
}

.login-error-message {
    font-size: medium;
    font-style: italic;
    color: var(--primary-color);

    height: 10px;
}