body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #b91c1c;
  --secondary-color: #6d28d9;
  --background-color-paper: #0a0a0a;
  --background-color-default: #262626;
  --text-color-primary: #e5e5e5;

  --navbar-height: 60px;
  --tab-height: 60px;
  --divider-height: 0.8px;
  --drawer-width-open: 260px;
  --drawer-width-closed: 60px;
  --profile-width: 230px;

  --icon-size: 40px;
  --num-tabs: 3;
}