body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color:#0a0a0a;
  --secondary-color: #171717;
  --accent-color: #ffffff;
  --text-color: #e2e8f0;
  --warning-color: #ef4444;

  --navbar-height: 70px;
  --page-height: calc(100% - var(--navbar-height));
}