body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-paper: #0a0a0a;
  --background-default: #262626;
  --text-primary: #e5e5e5;
  --text-secondary: #a3a3a3;
  --text-disabled: #d4d4d4;

  --navbar-height: 60px;
  --tab-height: 60px;
  --divider-height: 0.8px;
  --drawer-width-open: 260px;
  --drawer-width-closed: 60px;
  --profile-width: 230px;

  --icon-size: 40px;
  --num-tabs: 3;
}

.light-theme {
  --background-paper: #fafafa;
  --background-default: #e5e5e5;
  --text-primary: #262626;
  --text-secondary: #525252;
  --text-disabled: #404040;

  --navbar-height: 60px;
  --tab-height: 60px;
  --divider-height: 0.8px;
  --drawer-width-open: 260px;
  --drawer-width-closed: 60px;
  --profile-width: 230px;

  --icon-size: 40px;
  --num-tabs: 3;
}